@keyframes bk {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.bk-wrap {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
  contain: layout style;
}

.bk-p {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: bk linear infinite;
}
